<!DOCTYPE html>
<html ng-app="myoApp">
<head>
    <meta charset="utf-8" />
    <title>MYO</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="angular/controller_main.js"></script>


</head>

<body ng-controller="MainController as MainCtrl">
<h1>Communication avec socket.io !</h1>

<p><input type="button" value="wave in" id="poke" /></p>
{{greeting}}


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost:3000');
    socket.on('socket_event', function(event) {
        alert('Event : ' + event);
    })

    $('#poke').click(function () {
        socket.emit('client_event', 'wave_in');
    })
</script>
</body>
</html>