<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My_Robot</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/angulr.css">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    
  </head>
  <body style="overflow:hidden; margin:0">
      
        <div class="hbox hbox-auto-xs">
          <div class="col w-xxl w-auto-xs bg-light lter">
            <div class="wrapper">
              <div class="panel b-a" style="height:194px;">
                <div class="panel-heading bg-info" style="text-align:center;">GROUP INFORMATION</div>
                <div class="panel-body text-center"><img src="img/user2.jpg" class="img-responsive" style="height:104px;display:-webkit-inline-box;">
                  <h4>Group introduction...</h4>
                </div>
              </div>
              <div class="panel b-a" style="height:221px;">
                <div class="panel-heading bg-info" style="text-align:center;">MOVE PICTURE</div>
                <div id="carousel" style="height:178px;" class="carousel slide">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                    <li data-target="#carousel" data-slide-to="3"></li>
                    <li data-target="#carousel" data-slide-to="4"></li>
                  </ol>
                  <div class="carousel-inner text-center h-full">
                    <div class="item active h-full"><img src="img/fist.jpg" style="height:100%;margin:0 auto;">
                      <div class="carousel-caption">
                        <h3>Fist</h3>
                      </div>
                    </div>
                    <div class="item h-full"><img src="img/fingers-spread.jpg" style="height:100%;margin:0 auto;">
                      <div class="carousel-caption">
                        <h3>Fingers_spread</h3>
                      </div>
                    </div>
                    <div class="item h-full"><img src="img/wave-in.jpg" style="height:100%;margin:0 auto;">
                      <div class="carousel-caption">
                        <h3>Wave_in</h3>
                      </div>
                    </div>
                    <div class="item h-full"><img src="img/wave-out.jpg" style="height:100%;margin:0 auto;">
                      <div class="carousel-caption">
                        <h3>Wave_out</h3>
                      </div>
                    </div>
                    <div class="item h-full"><img src="img/double-tap.jpg" style="height:100%;margin:0 auto;">
                      <div class="carousel-caption">
                        <h3>Double_tap</h3>
                      </div>
                    </div>
                  </div><a href="#carousel" data-slide="prev" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a><a href="#carousel" data-slide="next" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
              </div>
              <div class="panel b-a" style="height:193px;">
                <div class="panel-heading bg-info" style="text-align:center;">MYO INFORMATION</div>
                <div class="panel-body text-center">
                  <h4 class="text-dark">Gesture Control Has Arrived</h4>
                  <p class="text-muted">The Myo armband lets you wirelessly control technology with gestures and motion.</p><img src="img/myo.png" class="img-responsive" style="height:45px;display:-webkit-inline-box;">
                </div>
              </div>
            </div>
          </div>
          <script>$('#carousel').carousel();</script>
          <div class="col">
            <div class="wrapper">
              <div class="panel b-a">
                <div class="panel-heading bg-info" style="text-align:center;">MYO MODEL</div>
                <div style="height:605px;" class="panel-body">
                  <h4>MYO MODEL...</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </body>
</html>