<!DOCTYPE html>
<html ng-app="myoApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My_Robot</title>
    
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/angulr.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="all"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="/js/delivery.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="angular/controller_main.js"></script>
    <script src="angular/service_display.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r73/three.min.js"></script>
    <script src="angular/controller_main.js"></script>
    <script src="angular/service_display.js"></script>
    <script src="javascripts/threex.keyboardstate.js"></script>


  </head>
  <body style="overflow:hidden; margin:0" ng-controller="MainController as MainCtrl">
      
        <div class="hbox hbox-auto-xs">
          <div class="col w-xxl w-auto-xs bg-light lter">
            <div class="wrapper-auto-xs " >
              <div class="panel b-a" style="height:194px;">
                <div class="panel-heading bg-info" style="text-align:center;">GROUP INFORMATION</div>
                <div class="panel-body text-center"><img src="img/user2.jpg" class="img-responsive" style="height:104px;display:-webkit-inline-box;">
                  <h4>Group introduction...</h4>
                </div>
              </div>
              <div class="panel b-a" style="height:221px;">
                <div class="panel-heading bg-info" style="text-align:center;">MOVE PICTURE</div>
                <div id="carousel" style="height:178px;" class="carousel slide">
                  
                  <div class="carousel-inner text-center h-full">                  
                    <div class="item active h-full"><img alt="Bootstrap Image Preview" ng-src = "img/myo_event/{{MainCrtl.event}}.jpg" style="height:100%;margin:0 auto;">
                      
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="panel b-a" style="height:193px;">
                <div class="panel-heading bg-info" style="text-align:center;">MYO INFORMATION</div>
                <div class="panel-body text-center">
                  <h4 class="text-dark">Gesture Control Has Arrived</h4>
                  <p class="text-muted">The Myo armband lets you wirelessly control technology with gestures and motion.</p><img src="img/myo.png" class="img-responsive" style="height:45px;display:-webkit-inline-box;">
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="wrapper-auto-xs">
              <div class="panel b-a">
                <div class="panel-heading bg-info" style="text-align:center;">MYO MODEL</div>
                <div style="height:605px;" class="panel-body">
                    <div class="img-responsive" id="context"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </body>

</html>